.wrapper-content {
  background: #f8f8f8; }

.bread-crumbs {
  text-transform: uppercase;
  letter-spacing: 1px; }

.sidebar .widget {
  margin-bottom: 60px;
  padding: 0;
  background: transparent;
  word-wrap: break-word; }
.sidebar .section-nav-title {
  color: #15110f;
  text-transform: none; }
.sidebar .widget_price_filter {
  padding-top: 2px; }
.sidebar .widget_shopping_cart {
  font-size: 1.5rem; }

textarea {
  border-width: 1px;
  border-color: #ddd;
  border-radius: 3px; }

input {
  border-width: 1px;
  border-color: #ddd;
  border-radius: 3px; }

select {
  border-width: 1px;
  border-color: #ddd;
  border-radius: 3px; }

input[type="button"] {
  background: #466BB0;
  font-family: "Roboto Condensed", "Helvetica Neue", "Helvetica", "sans-serif";
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px; }

input[type="submit"] {
  background: #466BB0;
  font-family: "Roboto Condensed", "Helvetica Neue", "Helvetica", "sans-serif";
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px; }

button {
  background: #466BB0;
  font-family: "Roboto Condensed", "Helvetica Neue", "Helvetica", "sans-serif";
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px; }

.button {
  background: #466BB0;
  font-family: "Roboto Condensed", "Helvetica Neue", "Helvetica", "sans-serif";
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px; }

.product-top {
  padding: 20px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
  .product-top .button {
    background: #466BB0;
    font-family: "Roboto Condensed", "Helvetica Neue", "Helvetica", "sans-serif";
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px; }
  .product-top .single_add_to_cart_button {
    height: 40px;
    padding: 0 20px;
    background: #466BB0;
    border: none;
    color: #fff; }
    .product-top .single_add_to_cart_button:disabled {
      background: rgba(0, 0, 0, 0.2);
      cursor: auto; }
  .product-top .quantity {
    overflow: hidden; }
    .product-top .quantity .qty {
      height: 40px;
      border-radius: 3px; }
  .product-top table .label {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    color: #15110f; }
  .product-top table .value {
    display: block;
    width: 100%;
    padding: 0; }

table {
  border-width: 1px;
  font-size: 1.6rem;
  padding: 10px;
  background: #fff; }
  table th {
    border-width: 1px;
    font-size: 1.6rem; }
  table td {
    border-width: 1px;
    font-size: 1.6rem; }
  table.my_account_orders {
    margin-bottom: 30px; }

.header-site {
  background-color: #fff; }
  .header-site .nav .sub-menu {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1); }
    .header-site .nav .sub-menu li a {
      font-weight: 300;
      font-size: 1.3rem;
      text-transform: uppercase; }
    .header-site .nav .sub-menu li:first-child a {
      border-radius: 4px 4px 0 0; }
    .header-site .nav .sub-menu li:last-child a {
      border-radius: 0 0 4px 4px; }
  .header-site .nav > ul > li > a {
    font-weight: 200;
    text-transform: uppercase; }
  .header-site:not(.invert) .header-cart {
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 2px 2px 0 transparent;
    border-radius: 6px;
    transition: box-shadow 0.1s ease-in-out, border 0.1s ease-in-out; }
    .header-site:not(.invert) .header-cart:hover {
      border-color: rgba(0, 0, 0, 0.15);
      box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1); }
    .header-site:not(.invert) .header-cart > .cart {
      color: #323232; }

.tagline {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 200; }

.title-container {
  background: #15110f; }
  .title-container .bread-crumbs {
    color: rgba(255, 255, 255, 0.75); }
    .title-container .bread-crumbs a {
      color: rgba(255, 255, 255, 0.75); }
      .title-container .bread-crumbs a:hover {
        color: white; }
  .title-container .heading {
    color: white; }
  .title-container .excerpt {
    color: rgba(255, 255, 255, 0.8); }

.footer-site .section-nav-title {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 2rem;
  font-weight: 200; }
.footer-site .product_list_widget {
  font-size: 1.4rem; }
.footer-site del {
  font-size: 1.4rem; }
.footer-site ins {
  font-size: 1.4rem; }
.footer-site .amount {
  font-size: 1.4rem; }

.pagination li {
  margin-right: 5px;
  border: none; }
.pagination a {
  padding: 8px 16px;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  color: #454545; }
.pagination span {
  padding: 8px 16px;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  color: #454545; }
.pagination .current {
  background: none;
  border-color: rgba(0, 0, 0, 0.45);
  color: #000; }

.header-cart .cart-count {
  background: #466BB0;
  color: #fff; }
.header-cart .cart .amount {
  font-size: 1.6rem; }

.header-mini-cart {
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  font-size: 1.6rem; }
  .header-mini-cart .button {
    font-size: 1.2rem; }

.wc-tabs .description_tab a:before {
  font-family: "layers-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.4rem;
  color: #466BB0;
  margin-right: 6px;
  content: "\f040"; }
.wc-tabs .additional_information_tab a:before {
  font-family: "layers-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.4rem;
  color: #466BB0;
  margin-right: 6px;
  content: "\f116"; }
.wc-tabs .reviews_tab a:before {
  font-family: "layers-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.4rem;
  color: #466BB0;
  margin-right: 6px;
  content: "\f0e6"; }

.price {
  color: #466BB0; }

.onsale {
  background-color: #e1574c;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 200; }

.cart-empty {
  padding: 20px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }

.woocommerce-result-count {
  font-size: 2rem;
  font-weight: 200; }

.woocommerce-result-count-container {
  padding: 0 0 15px;
  background: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.woocommerce-message {
  background: #fff;
  font-size: 1.6rem;
  border-radius: 6px; }

.woocommerce-info {
  background: #fff;
  font-size: 1.6rem;
  border-radius: 6px; }

.products .product {
  padding: 35px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
  .products .product .price {
    font-size: 2rem; }
  .products .product:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
.products .img-wrap {
  margin: -35px -35px 35px; }
.products .button {
  margin-top: 20px; }

.cart_list .quantity {
  font-size: 1.5rem;
  font-weight: 200;
  clear: left; }
.cart_list .remove + a {
  margin-bottom: 0; }

.product-images {
  margin-bottom: 0; }
  .product-images img {
    border-radius: 3px;
    transform: scale(1);
    transition: all ease-in-out 0.2s; }

.purchase-options-container {
  margin-bottom: 0; }

.product_meta {
  padding: 20px 0 0;
  background: transparent;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.woocommerce-tabs {
  margin: 20px 0;
  padding: 20px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
  .woocommerce-tabs .tabs {
    padding: 0 20px;
    margin: 0 -20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-transform: uppercase; }
    .woocommerce-tabs .tabs li {
      margin-right: 30px; }
    .woocommerce-tabs .tabs a {
      position: relative;
      background: transparent;
      padding-left: 0;
      padding-right: 0;
      font-weight: 400; }
      .woocommerce-tabs .tabs a:hover {
        background: transparent;
        border-bottom: 3px solid #466BB0;
        margin-bottom: -1px;
        z-index: 1; }
    .woocommerce-tabs .tabs .active a {
      background: transparent;
      border-bottom: 3px solid #466BB0;
      margin-bottom: -1px;
      z-index: 1; }
  .woocommerce-tabs .panel {
    margin: 30px 0 0;
    padding: 0;
    background: transparent; }
  .woocommerce-tabs .entry-content {
    font-size: 1.8rem;
    font-weight: 200; }
    .woocommerce-tabs .entry-content ul {
      border: 0; }
    .woocommerce-tabs .entry-content ol {
      border: 0; }
  .woocommerce-tabs .comment-respond {
    margin: 0; }
  .woocommerce-tabs #comments {
    float: left;
    width: 48%; }

#reviews .comment {
  padding: 0;
  margin: 0 0 30px;
  background: transparent;
  border-bottom: none; }
#reviews .meta {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
#reviews strong[itemprop="author"] {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1px; }
#reviews time[itemprop="datePublished"] {
  font-size: 1.2rem;
  font-weight: normal; }

.avatar {
  border-radius: 100%; }

#ship-to-different-address {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.col2-set {
  padding: 40px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }

.woocommerce-checkout-review-order {
  padding: 40px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  border: 2px solid #466BB0; }
  .woocommerce-checkout-review-order table {
    border: none;
    box-shadow: none; }
    .woocommerce-checkout-review-order table th {
      padding: 10px 0; }
    .woocommerce-checkout-review-order table td {
      padding: 10px 0; }
    .woocommerce-checkout-review-order table tr td:last-child {
      text-align: right; }
  .woocommerce-checkout-review-order .product-total {
    text-align: right; }
  .woocommerce-checkout-review-order .order-total td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

#order_review #payment {
  background: transparent; }
#order_review .form-row {
  padding: 0;
  margin-top: 20px; }
#order_review .payment_box {
  padding: 20px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  font-size: 1.6rem; }
#order_review .payment_methods li {
  padding-left: 0;
  padding-right: 0; }

.select2-drop.select2-drop-active {
  border-width: 1px;
  border-radius: 3px;
  border-color: #ddd; }
.select2-drop.select2-drop-above.select2-drop-active {
  border-width: 1px;
  border-radius: 3px;
  border-color: #ddd; }

.myaccount_address {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 2rem; }

.myaccount_user {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 2rem; }

.widget_product_search input[type="search"] {
  border-radius: 3px 0 0 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05); }
.widget_product_search input[type="submit"] {
  text-transform: none;
  border-radius: 0 3px 3px 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05); }

.ui-state-default {
  background: #466BB0; }

.meta-info {
  margin-bottom: 30px;
  color: #999; }
  .meta-info a {
    color: #999;
    text-decoration: underline; }
    .meta-info a:hover {
      color: #000; }

@media only screen and (min-width: 769px) {
  .container {
    max-width: 1240px; }

  .swiper-container.container {
    max-width: 1240px; }
  .swiper-container .arrows a {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    border-radius: 6px;
    padding: 8px; }

  .content-main {
    padding-top: 4%;
    padding-bottom: 4%; }

  .section-title.large .excerpt {
    font-weight: 200; }
  .section-title.medium .excerpt {
    font-weight: 200; }

  .widget .price {
    font-size: 2rem; }
  .widget:not(.slide) .section-title {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

  .button {
    font-weight: 200; }

  .with-overlay .thumbnail-body {
    border-radius: 6px; }
  .with-overlay .button {
    color: #fff;
    border-width: 1px; }

  .sidebar .section-nav-title {
    padding: 0 0 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 2rem;
    font-weight: 200; }
  .sidebar .widget li {
    border-bottom: none; }
    .sidebar .widget li:not(:last-child) {
      border-bottom: none; }
  .sidebar .widget .product_list_widget li {
    padding: 8px;
    background: white none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05); }
  .sidebar .amount {
    font-size: 1.5rem; }

  label {
    font-size: 1.8rem;
    font-weight: lighter;
    color: #000; }

  body {
    font-size: 1.6rem; }

  .media.medium .excerpt {
    font-size: 1.6rem; }
  .media.large .excerpt {
    font-size: 2.2rem;
    font-weight: lighter; }

  .story {
    font-size: 1.8rem; }

  .header-secondary {
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .header-secondary.invert nav a {
      color: rgba(0, 0, 0, 0.65);
      font-weight: normal;
      font-size: 1.4rem; }
      .header-secondary.invert nav a:hover {
        color: black; }

  .header-inline .inline-left-nav {
    justify-content: flex-start; }
  .header-inline .inline-right-nav {
    justify-content: flex-end; }

  div[itemprop="description"] {
    font-weight: 200; }

  .woocommerce-tabs .comment-reply-title {
    font-size: 2.2rem;
    margin-bottom: 16px; }
  .woocommerce-tabs #comments + #review_form_wrapper {
    float: right;
    width: 48%; }

  #billing_address_1_field {
    margin-bottom: 0; }
    #billing_address_1_field input {
      border-bottom-style: dotted;
      border-radius: 3px 3px 0 0; }

  #shipping_address_1_field {
    margin-bottom: 0; }
    #shipping_address_1_field input {
      border-bottom-style: dotted;
      border-radius: 3px 3px 0 0; }

  .amount {
    font-weight: 200; }

  .coupon input[type="text"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .coupon .button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

  .price_slider_amount .button {
    text-transform: uppercase; }
  .price_slider_amount .price_label {
    font-size: 1.6rem;
    font-weight: 200; }

  .title-container .title {
    max-width: 1240px; }

  .swiper-slide .copy-container {
    max-width: 1240px; }

  .space-header.widget .section-title {
    padding-bottom: 60px;
    margin-bottom: 60px; }

  .product_list_widget img {
    max-width: 60px; }

  .feature-product .span-12 {
    padding: 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden; }
    .feature-product .span-12 .media {
      display: flex;
      align-items: center; }
      .feature-product .span-12 .media.image-right {
        flex-direction: row-reverse; }
    .feature-product .span-12 .media-image {
      max-width: 50%; }
    .feature-product .span-12 .media-body {
      max-width: 50%;
      padding: 0 40px; }

  #billing_address_2_field input {
    border-top-width: 0;
    border-radius: 0 0 3px 3px; }

  #shipping_address_2_field input {
    border-top-width: 0;
    border-radius: 0 0 3px 3px; }

  .storekit-product-category-widget .thumbnail {
    text-align: center; }

  .storekit-product-list-widget .thumbnail {
    text-align: center; }
    .storekit-product-list-widget .thumbnail.span-2 .thumbnail-body {
      padding: 10px; }
    .storekit-product-list-widget .thumbnail.span-2 .heading {
      font-size: 1.5rem; }
    .storekit-product-list-widget .thumbnail.span-2 .price {
      font-size: 1.5rem; }
    .storekit-product-list-widget .thumbnail.span-2 .button {
      font-size: 1.2rem;
      display: block; }

  del .amount {
    font-weight: 200; }

  .ui-slider .ui-slider-handle {
    border-radius: 3px; } }
.form-submit input[type="submit"] {
  background: #466BB0;
  font-family: "Roboto Condensed", "Helvetica Neue", "Helvetica", "sans-serif";
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px; }

.site-logo-link + .site-description .sitename {
  text-transform: uppercase;
  font-size: 2rem; }

.invert .row + .copyright {
  border-color: rgba(255, 255, 255, 0.15); }

.widget_product_categories ul li:before {
  font-family: "layers-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.4rem;
  color: #466BB0;
  margin-right: 6px;
  content: "\f116"; }

.widget_recent_entries ul li:before {
  font-family: "layers-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.4rem;
  color: #466BB0;
  margin-right: 6px;
  content: "\f040"; }

.widget_pages ul li:before {
  font-family: "layers-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.4rem;
  color: #466BB0;
  margin-right: 6px;
  content: "\f0f6"; }

.widget_recent_comments ul li:before {
  font-family: "layers-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.4rem;
  color: #466BB0;
  margin-right: 6px;
  content: "\f0e6"; }

.widget_archive ul li:before {
  font-family: "layers-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.4rem;
  color: #466BB0;
  margin-right: 6px;
  content: "\f018"; }

.widget_categories ul li:before {
  font-family: "layers-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.4rem;
  color: #466BB0;
  margin-right: 6px;
  content: "\f116"; }

.page-template-builder .wrapper-content .widget.woocommerce.widget_product_search {
  max-width: none;
  background: #333; }
  .page-template-builder .wrapper-content .widget.woocommerce.widget_product_search form {
    max-width: 1000px;
    margin: auto; }
  .page-template-builder .wrapper-content .widget.woocommerce.widget_product_search input[type="search"] {
    width: 80%;
    height: 48px;
    max-width: none;
    margin-bottom: 0;
    padding: 0 20px;
    font-size: 1.8rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .page-template-builder .wrapper-content .widget.woocommerce.widget_product_search input[type="submit"] {
    width: 20%;
    height: 48px;
    background: rgba(0, 0, 0, 0.6);
    font-size: 1.6rem;
    text-transform: uppercase;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
    .page-template-builder .wrapper-content .widget.woocommerce.widget_product_search input[type="submit"]:hover {
      background: black;
      color: #fff; }

.img-wrap .onsale {
  left: auto;
  right: 10px; }

.woocommerce.widget img {
  border-radius: 3px; }

.product_list_widget a {
  font-weight: normal; }

.tagcloud a {
  display: inline-block;
  padding: 0 6px;
  margin-bottom: 2px;
  border: 1px solid rgba(0, 0, 0, 0.45);
  border-radius: 6px;
  color: #000;
  font-size: 1.3rem !important;
  font-weight: 200;
  text-transform: uppercase; }
  .tagcloud a:hover {
    background: #466BB0;
    color: #fff;
    border-color: transparent; }

.thumbnails a {
  width: 16.8%;
  margin: 4% 4% 0 0;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: all ease-in-out 0.1s;
  overflow: hidden; }
  .thumbnails a:hover {
    border-color: #466BB0; }
    .thumbnails a:hover img {
      transform: scale(1.1); }
  .thumbnails a:nth-child(4n + 4) {
    width: 16.8%;
    margin: 4% 4% 0 0;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: all ease-in-out 0.1s;
    overflow: hidden; }
  .thumbnails a:nth-child(5n + 5) {
    margin-right: 0; }

.variations_form .reset_variations {
  top: 0;
  bottom: auto;
  border-radius: 3px; }

.woocommerce-billing-fields h3 {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.cart_totals h2 {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.select2-dropdown-open.select2-drop-above .select2-choice {
  border-width: 1px;
  border-radius: 3px;
  border-color: #ddd; }
.select2-dropdown-open.select2-drop-above .select2-choices {
  border-width: 1px;
  border-radius: 3px;
  border-color: #ddd; }

.select2-container .select2-choice {
  border-width: 1px;
  border-radius: 3px;
  border-color: #ddd; }

.select2-search input {
  border-width: 1px;
  border-radius: 3px;
  border-color: #ddd; }

.col-2.address {
  margin-top: 20px; }

.storekit-product-category-widget .thumbnail-media {
  border-radius: 6px; }

.storekit-product-list-widget .thumbnail {
  border-radius: 6px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }

.price_slider_wrapper .ui-widget-content {
  background: rgba(0, 0, 0, 0.1); }

.ui-slider .ui-slider-range {
  background-color: #000; }

.ui-widget-content .ui-state-default {
  background: #466BB0; }

.ui-widget-header .ui-state-default {
  background: #466BB0; }

.price_slider_amount .button {
  text-transform: none;
  font-weight: 600; }

.span-8 .post {
  padding: 40px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
  .span-8 .post .thumbnail {
    clear: both;
    margin: 40px -40px; }
  .span-8 .post .section-title {
    margin: 0 0 20px; }
  .span-8 .post .copy {
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 2rem; }

.layers-content-widget .media-image img {
  border-radius: 6px; }

.button-collection .button {
  margin-right: 8px; }

/*# sourceMappingURL=style.css.map */
